[phases.setup]
nixPkgs = ["python311", "postgresql"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[phases.build]
cmds = [
  "alembic upgrade head"
]

[start]
cmd = "gunicorn -w 4 -b 0.0.0.0:$PORT --timeout 120 app.main:app"

